@import url("file:///home/user/.cache/wal/colors-gtk.css");

VteTerminal, vte-terminal {
        padding: 12px;
}

.window-frame, .window-frame:backdrop {
        box-shadow: 0 0 0 black;
        border-style: none;
        margin: 0;
        border-radius: 0;
}
    
.titlebar {
        border-radius: 0;
}

undershoot.top,
undershoot.right,
undershoot.bottom,
undershoot.left { 
        background-image: none; 
}